/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 11-ene-2018, 0:10:47
    Author     : marcochacon
*/
@font-face {
  font-family: gotham;
  font-weight: normal;
  src: url(../fonts/Gotham-Book.otf);
}
@font-face {
  font-family: gotham;
  font-weight: bold;
  src: url(../fonts/Gotham-Black.otf);
}
@font-face {
  font-family: "gotham thin";
  font-weight: lighter;
  src: url(../fonts/Gotham-Thin.ttf);
}
body {
  background: #000;
  color: #fff;
  font-family: "gotham", sans-serif;
}

a {
  cursor: pointer;
}

.yellow-color {
  color: #fff300;
}

.black-color {
  color: #000;
}

.white-color {
  color: #fff;
}

.grey-section {
  background: #252525;
}

.black-box {
  background: #000;
  overflow: hidden;
}

.yellow-box {
  background: #fff300;
}

.white-box {
  background: #fff;
}

.clear-fix {
  clear: both;
}

.btn-black {
  background: #000;
  color: #fff300;
}
.btn-black:hover {
  background: #252525;
  color: #fff300;
}

.btn-rounded {
  border-radius: 20px;
}

.btn-go-to-form {
  padding: 10px 10px 8px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  max-width: 392px;
}
.btn-go-to-form:focus {
  color: #fff300;
}

.btn-submit {
  padding: 10px 0 8px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  margin-top: 20px;
}

h2 {
  font-size: 69px;
  font-weight: bold;
  line-height: 65px;
}

p {
  font-size: 14px;
}

.form-control.form-error {
  border: 1px solid #a90000;
  background: #ecbfbf !important;
}

.error-message {
  color: #a90000;
  font-weight: bold;
  line-height: 20px;
}

#container {
  overflow: hidden;
}

.beer-launch .home > .container {
  width: 100%;
  padding: 0;
}

.beer-launch .home .hero-wrapper {
  padding: 0;
}
.beer-launch .home .hero-wrapper .hero {
  padding: 0;
}
.beer-launch .home .hero-wrapper .hero .beer-hero {
  padding: 0;
  margin: 0;
  max-width: none;
}

.beer-launch .home .grey-section {
  background: #cccccc url("../img/lanzamiento/bubbles-bg.jpg") 0 0/100% repeat;
}
@media (min-width: 992px) {
  .beer-launch .home .grey-section {
    background-size: cover;
  }
}
@media (min-width: 992px) {
  .beer-launch .home .grey-section .black-box-wrapper {
    flex: 0 1 40%;
  }
}
.beer-launch .home .grey-section .black-box {
  padding: 0;
  margin-bottom: 60px;
}
.beer-launch .home .grey-section .black-box .registration-form {
  display: block;
  opacity: 1;
}
.beer-launch .home .grey-section .black-box .registration-form .form-heading {
  padding-bottom: 20px;
}
.beer-launch .home .grey-section .black-box .registration-form .form-heading .logo-section {
  margin-bottom: 0;
}
.beer-launch .home .grey-section .black-box .registration-form .form-heading .heading-text {
  padding-top: 0;
}
.beer-launch .home .grey-section .black-box .registration-form .form-heading .heading-text .white-color {
  font-size: 16px;
  line-height: 18px;
}
.beer-launch .home .grey-section .black-box .registration-form .form-heading .heading-text .grey-color {
  text-transform: uppercase;
  color: #b0b0b0;
  font: light 14px/16px "gotham", "sans-serif";
}
.beer-launch .home .grey-section .black-box .registration-form .form-body {
  background-color: #bebebe;
}
.beer-launch .home .grey-section .black-box .registration-form .form-body .form-control {
  background-color: #fff;
}
.beer-launch .home .grey-section .black-box .registration-form .btn {
  color: #fff;
}
.beer-launch .home .grey-section .video-wrapper {
  padding: 0;
}
.beer-launch .home .grey-section .video-wrapper iframe {
  width: 100%;
}
@media (min-width: 992px) {
  .beer-launch .home .grey-section .video-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 1 55%;
  }
}

.beer-launch .home .black-section {
  padding: 138px 0 24px;
  background: url("../img/lanzamiento/background-logo.png") center 20px/162px 164px no-repeat, url("../img/lanzamiento/bg-pattern.png") 0 0 repeat;
}
.beer-launch .home .black-section .special-row {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
}
.beer-launch .home .black-section .registration-form {
  display: block;
  opacity: 1;
}
@media (min-width: 568px) {
  .beer-launch .home .black-section {
    background: url("../img/lanzamiento/background-logo.png") center 30px/243px 246px no-repeat, url("../img/lanzamiento/bg-pattern.png") 0 0 repeat;
  }
}
@media (min-width: 992px) {
  .beer-launch .home .black-section {
    padding: 10px 0;
    background: url("../img/lanzamiento/background-logo.png") 38% 30px/263px 266px no-repeat, url("../img/lanzamiento/bg-pattern.png") 0 0 repeat;
  }
}
@media (min-width: 1200px) {
  .beer-launch .home .black-section {
    background: url("../img/lanzamiento/background-logo.png") 46% 40px/383px 386px no-repeat, url("../img/lanzamiento/bg-pattern.png") 0 0 repeat;
  }
}
.black-section .beer-bottle-wrap {
  position: absolute;
  bottom: 0;
}
.beer-launch .home .black-section .beer-bottle-wrap {
  position: static;
  padding-right: 0;
  padding-left: 2px;
  max-width: 220px;
}
.black-section .copy-wrap {
  margin-bottom: 35px;
}
.beer-launch .home .black-section .copy-wrap {
  margin-bottom: 24px;
  text-align: center;
}
.beer-launch .home .black-section .copy-wrap .title {
  color: #00198c;
  margin-top: 0;
  position: relative;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  font: bold 18px/24px "gotham", "sans-serif";
}
.beer-launch .home .black-section .copy-wrap .title span {
  display: inline-block;
  position: relative;
}
.beer-launch .home .black-section .copy-wrap .title span:before {
  content: "";
  width: 32px;
  height: 14px;
  display: inline-block;
  position: absolute;
  background: url("../img/lanzamiento/text-lines-left.png") 0 0/contain no-repeat;
  top: 3px;
  left: -32px;
}
.beer-launch .home .black-section .copy-wrap .title:after {
  content: "";
  width: 32px;
  height: 14px;
  display: inline-block;
  position: absolute;
  background: url("../img/lanzamiento/text-lines-right.png") 0 0/contain no-repeat;
  margin-left: 4px;
  bottom: 6px;
}
@media (min-width: 568px) {
  .beer-launch .home .black-section .copy-wrap .title {
    font-size: 32px;
    line-height: 36px;
    max-width: 300px;
  }
  .beer-launch .home .black-section .copy-wrap .title span:before {
    width: 48px;
    height: 30px;
    top: 4px;
    left: -52px;
  }
  .beer-launch .home .black-section .copy-wrap .title:after {
    width: 48px;
    height: 30px;
    margin-left: 4px;
    bottom: 2px;
  }
}
@media (min-width: 992px) {
  .beer-launch .home .black-section .copy-wrap .title {
    font-size: 48px;
    line-height: 52px;
    max-width: 480px;
  }
  .beer-launch .home .black-section .copy-wrap .title span:before {
    width: 66px;
    height: 48px;
    top: 6px;
    left: -74px;
  }
  .beer-launch .home .black-section .copy-wrap .title:after {
    width: 66px;
    height: 48px;
    margin-left: 8px;
    bottom: 0px;
  }
}
.beer-launch .home .black-section .copy-wrap p {
  font: 13px/16px "gotham", "sans-serif";
  color: #000;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 568px) {
  .beer-launch .home .black-section .copy-wrap p {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media (min-width: 992px) {
  .beer-launch .home .black-section .copy-wrap p {
    font-size: 16px;
    line-height: 18px;
    max-width: none;
  }
}
.beer-launch .home .black-section .copy-wrap .btn {
  padding-bottom: 8px;
  padding-top: 8px;
  width: 100%;
  max-width: 260px;
  text-transform: uppercase;
  font: bold 10px/16px "gotham", "sans-serif";
  color: #fff;
  background: #000;
  white-space: pre-wrap;
}
.beer-launch .home .black-section .copy-wrap .btn:hover {
  opacity: 0.7;
}
@media (min-width: 992px) {
  .beer-launch .home .black-section .copy-wrap .btn {
    font-size: 14px;
    line-height: 40px;
    max-width: 360px;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.hero-btn {
  position: absolute;
  left: 50%;
  margin-left: -144px;
  bottom: 230px;
  z-index: 20;
}
@media (max-width: 700px) {
  .hero-btn {
    bottom: 200px;
  }
}
@media (max-width: 570px) {
  .hero-btn {
    bottom: 160px;
  }
}
@media (max-width: 480px) {
  .hero-btn {
    bottom: 120px;
  }
}
@media (max-width: 400px) {
  .hero-btn {
    bottom: 90px;
  }
}
@media (max-width: 360px) {
  .hero-btn {
    bottom: 70px;
  }
}

.home .grey-section .remaining-time-clock {
  font-size: 60px;
  line-height: 1;
  margin-top: 6px;
  width: 100%;
}
@media (max-width: 1199px) {
  .home .grey-section .remaining-time-clock {
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  .home .grey-section .remaining-time-clock {
    font-size: 60px;
    max-width: 480px;
  }
}
@media (max-width: 500px) {
  .home .grey-section .remaining-time-clock {
    font-size: 50px;
    max-width: 88%;
  }
}
@media (max-width: 420px) {
  .home .grey-section .remaining-time-clock {
    font-size: 40px;
    max-width: 92%;
  }
}
@media (max-width: 360px) {
  .home .grey-section .remaining-time-clock {
    font-size: 30px;
  }
}
.home .grey-section .remaining-time-clock .numbers-wrap {
  min-width: 19%;
  max-width: 19%;
  display: inline-block;
}
@media (max-width: 991px) {
  .home .grey-section .remaining-time-clock .numbers-wrap {
    min-width: 22%;
    max-width: 22%;
  }
}
.home .grey-section .remaining-time-clock .numbers-wrap .remaining-time-clock-labels, .home .grey-section .remaining-time-clock .numbers-wrap .countdown-number {
  display: block;
  width: 100%;
}
.home .grey-section .remaining-time-clock .numbers-wrap .remaining-time-clock-labels {
  font-size: 14px;
  font-weight: bold;
}
@media (max-width: 420px) {
  .home .grey-section .remaining-time-clock .numbers-wrap .remaining-time-clock-labels {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .black-section .beer-bottle-wrap {
    position: static;
    bottom: 0;
  }

  .countdown-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .beer-launch .countdown-wrapper {
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .countdown-wrapper .black-box-wrapper {
    width: 512px;
  }
}
#header {
  padding-top: 20px;
  z-index: 9999;
  position: relative;
}
.beer-launch #header {
  padding: 20px 0;
  background-color: #000;
}

.main-logo {
  width: 108px;
}
.beer-launch .main-logo {
  width: 225px;
}

.nav {
  justify-content: flex-end;
  display: flex;
  padding: 33px 0;
}
.nav a {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font: bold 10px/14px "gotham", sans-serif;
  padding-right: 40px;
}
.nav a:first-child {
  margin-right: 45px;
}

#footer {
  background: url(../img/footer-bg.jpg);
  font-size: 12px;
  padding: 44px 0;
}
#footer > .container > .row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 992px) {
  #footer > .container > .row {
    flex-direction: row;
  }
}
#footer a {
  color: #fff;
  display: inline-block;
  line-height: 18px;
}
#footer a:hover, #footer a.active {
  color: #fff300;
}
#footer .footer-centered, #footer .footer-social .social-label {
  padding-top: 41px;
}
@media (min-width: 992px) {
  #footer .social-links {
    padding-top: 32px;
  }
}
#footer .social-links img {
  float: left;
  padding: 0 5%;
}

.policy {
  background: #ffffff;
  padding: 20px 0;
  font-weight: bold;
}
@media (max-width: 991px) {
  .policy {
    padding: 35px 0;
  }
}

.footer-logo {
  width: 99px;
}
.beer-launch .footer-logo {
  width: 225px;
  max-width: none;
}

.beer-launch #footer .footer-centered, .beer-launch #footer .footer-social .social-label {
  width: auto;
  padding-top: 28px;
}

.beer-launch #footer .footer-social .social-links {
  width: auto;
  padding-top: 20px;
}

.footer-social {
  width: auto;
}

.home .beer-hero {
  position: relative;
  padding-bottom: 60px;
}
.home .beer-hero .beer {
  position: relative;
  z-index: 9;
  top: -13px;
}
.home .beer-hero .beer-water {
  position: absolute;
  z-index: 8;
  top: -80px;
  left: 50%;
  margin-left: -100%;
  max-width: 180%;
}
.home .beer-hero .beer-lines {
  position: absolute;
  top: 0;
  z-index: 7;
  left: 50%;
  margin-left: -100%;
  max-width: 180%;
}
.home .beer-hero .imperial {
  position: absolute;
  top: 0;
  z-index: 10;
  top: 31.5%;
}
.home .beer-remainig-level {
  position: relative;
}
.home .hero-ramainig {
  margin: 20px auto 0;
  width: 136px;
}
.home .hero-ramainig > .col-sm-12, .home .hero-ramainig > .col-xs-12 {
  padding: 0;
  margin: 0;
  display: flex;
  float: none;
}
.home .remaining-beers {
  margin-right: 10px;
}
.home .remaining-beers img {
  z-index: 5;
  position: relative;
}
.home .remaining-beers .beer-remainig-level {
  width: 20px;
}
.home .beer-remainig-level-black {
  background: #000;
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  z-index: 4;
}
.home .remaining-beers-labels {
  color: #000;
  font-size: 12px;
  padding-top: 5px;
  line-height: 14px;
  letter-spacing: 3.4px;
  text-align: left;
  float: left;
}
.home .remaining-amount {
  font-size: 35px;
  line-height: 35px;
}
.home .grey-section {
  position: relative;
  z-index: 20;
}
.home .grey-section .black-box {
  margin-top: 35px;
  padding: 40px 25px;
  font-size: 53px;
  line-height: 50px;
  margin-bottom: 35px;
}
.home .grey-section .black-box.show-form {
  padding: 0;
}
.home .grey-section .black-box.show-form .registration-form {
  display: block;
}
.home .grey-section .black-box.show-form .promo {
  display: none;
}
.home .grey-section .black-box .promo, .home .grey-section .black-box .registration-form {
  transition: all ease 1s;
}
.home .grey-section .black-box .registration-form, .home .grey-section .black-box .success {
  padding: 20px 0;
}
.home .grey-section .black-box .registration-form .form-heading, .home .grey-section .black-box .success .form-heading {
  font-size: 18px;
  line-height: 18px;
  overflow: hidden;
}
.home .grey-section .black-box .registration-form .heading-text, .home .grey-section .black-box .success .heading-text {
  padding-top: 30px;
}
.home .grey-section .black-box .registration-form .form-body, .home .grey-section .black-box .success .form-body {
  background: #ffffff;
  color: #000;
  font-size: 13px;
  padding: 10px 50px;
}
.home .grey-section .black-box .registration-form .form-body.success, .home .grey-section .black-box .success .form-body.success {
  font-size: 43px;
  padding: 50px 20px;
  font-weight: bold;
  text-align: center;
}
.home .grey-section .black-box .registration-form .form-body.success .successful, .home .grey-section .black-box .success .form-body.success .successful {
  background: #000;
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
}
.home .grey-section .black-box .registration-form .control-label, .home .grey-section .black-box .success .control-label {
  padding: 0;
  line-height: 23px;
  text-align: left;
}
.home .grey-section .black-box .registration-form .form-control, .home .grey-section .black-box .success .form-control {
  background: #dadada;
}
.home .grey-section .black-box .registration-form .form-group, .home .grey-section .black-box .success .form-group {
  margin-bottom: 10px;
}
.home .grey-section .black-box .registration-form {
  opacity: 0;
  display: none;
  padding-bottom: 0;
  overflow: hidden;
}
.home .grey-section .black-box .registration-form.success {
  opacity: 1;
  display: block;
}
.home .grey-section .black-box.rules {
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 20px 25px;
  font-size: 14px;
  line-height: initial;
  overflow: hidden;
}
.home .grey-section .black-box.rules .form-heading {
  overflow: hidden;
  padding-bottom: 15px;
}
.home .grey-section .black-box.rules .heading-text {
  font-size: 20px;
  padding-top: 20px;
}
.home .grey-section .black-box.rules .rules-body {
  background: #fff;
  color: #000;
  padding: 20px;
}
.home .grey-section .logo-section {
  display: block;
  max-width: 102px;
  margin: 0 auto 35px;
}
.home .grey-section .one-of {
  font-size: 58px;
}
.home .grey-section .thousand-six {
  font-size: 81px;
  line-height: 85px;
  font-weight: bold;
}
.home .grey-section .of-new {
  font-size: 33px;
  line-height: 33px;
  margin-left: 50px;
}
.home .grey-section .imperial-label {
  margin-top: -20px;
}
.home .grey-section .left-flex-container {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 50%;
}
.home .grey-section .left-flex-container > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .grey-section .i-want {
  font-size: 47px;
  display: block;
}
@media (max-width: 480px) {
  .home .grey-section .i-want {
    font-size: 38px;
    line-height: 40px;
  }
}
.home .grey-section .remaining-time {
  font-size: 30px;
}
.home .grey-section .white-box {
  position: relative;
}
.home .grey-section .white-box:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-left: 30px solid #252525;
  border-bottom: 40px solid transparent;
  top: -40px;
  left: 0;
}
.home .black-section {
  background: #000 url(../img/black-section-bg.png) -15% 56% no-repeat;
  background-size: 831px 756px;
  padding-top: 48px;
  position: relative;
}
.home .black-section .section-title {
  padding: 88px 0 0;
  margin-top: 0;
}
@media (min-width: 992px) {
  .home .black-section .section-title {
    padding: 60px 0 0;
  }
}
@media (min-width: 992px) {
  .home .black-section .copy-wrap {
    float: right;
  }
}
@media (min-width: 1200px) {
  .home .black-section {
    background-position: 10% 56%;
  }
}
@media (min-width: 1440px) {
  .home .black-section {
    background-position: 22% 56%;
  }
}
@media (max-width: 991px) {
  .home .black-section {
    background: #000 url(../img/black-section-mobile-bg.png) 100% -120px no-repeat;
    background-size: 428px 478px;
    padding-top: 32px;
  }
}
@media (max-width: 480px) {
  .home .black-section {
    background-size: 285px 318px;
    background-position: 110% -90px;
  }
  .home .black-section .section-title {
    padding: 48px 0 0;
    margin-top: 0;
  }
}
@media (max-width: 400px) {
  .home .black-section {
    background-position: 180% -90px;
  }
}

.rules #header {
  padding: 20px 0;
}

.home .hero-wrapper {
  padding: 0 15px;
}
.home .beer-hero {
  max-width: 585px;
  margin: 0 auto;
}
.home .hero {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
.home .grey-section .black-box .heading-text span {
  text-align: left;
}

.ageGate {
  background-color: #FFF;
}
.ageGate #container .container {
  min-height: 93vh;
}
@media (max-width: 480px) {
  .ageGate #container .container {
    text-align: center;
  }
}
.ageGate #container .container h2 {
  font-size: 52px;
  margin-bottom: 0;
  text-align: left;
  color: #00198c;
}
@media (max-width: 480px) {
  .ageGate #container .container h2 {
    font-size: 46px;
  }
}
.ageGate #container .container img {
  width: 220px;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .ageGate #container .container img {
    margin: 0px auto;
    margin-top: 20px;
    width: 120px;
  }
}
.ageGate #container .container h3 {
  margin-top: 0;
  text-align: left;
  color: #00198c;
}
.ageGate #container .container .row-content select.form-control {
  background: #00198c;
  border-color: #00198c;
  color: #FFF;
  font-weight: bold;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .ageGate #container .container .row-content select.form-control {
    margin-bottom: 20px;
  }
}
.ageGate #container .container .row-content .btn.btn-age {
  color: #FFF;
  background: #00198c;
  font-weight: bold;
  border-radius: 50px;
  padding: 10px 50px;
  margin-top: 32px;
  font-size: 18px;
  line-height: 14px;
}
@media (max-width: 400px) {
  .ageGate #container .container .row-content .btn.btn-age {
    margin-top: 0;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .ageGate #container .container .row-content {
    display: flex;
    align-items: center;
    min-height: 93vh;
  }
}

@media (min-width: 992px) {
  .home .hero-wrapper {
    display: flex;
    position: relative;
  }
  .home .remaining-beers {
    margin-right: 10px;
  }
  .home .remaining-beers .beer-remainig-level {
    width: 20px;
  }
  .home .grey-section .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .home .grey-section .left-flex-container > div {
    display: flex !important;
  }

  .home .beer-bottle-wrap .haft-beer {
    width: 136px;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .home .beer-bottle-wrap .haft-beer {
    margin-left: 40px;
  }
}
@media (min-width: 992px) {
  .home .grey-section .row {
    width: 970px;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .home .grey-section .row {
    width: 1170px;
  }
}
@media (min-width: 992px) {
  .home .grey-section .black-box {
    font-size: 40px;
    line-height: 36px;
  }
  .home .grey-section .black-box span {
    display: block;
    text-align: center;
  }
  .home .grey-section .black-box .text-wrapper {
    max-width: 420px;
    margin: 0 auto;
  }
  .home .grey-section .black-box .one-of {
    font-size: 44px;
    line-height: 44px;
  }
  .home .grey-section .black-box .thousand-six {
    font-size: 66px;
    line-height: 68px;
  }
  .home .grey-section .black-box .of-new {
    font-size: 24px;
    line-height: 24px;
    margin-left: 46px;
  }
}
@media (max-width: 991px) {
  .home .beer-hero {
    max-width: 585px;
    margin: 0 auto;
  }
  .home .white-box {
    margin-top: 80px;
    padding: 50px 0 80px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .home .white-box:after {
    content: none !important;
  }
  .home .section-title {
    font-size: 60px;
    line-height: 62px;
  }
  .home .black-section {
    overflow: hidden;
  }
  .home .grey-section .promo .logo-section {
    margin-bottom: 30px;
    padding: 0;
  }
  .home .grey-section .black-box .registration-form .form-heading {
    font-size: 15px;
    line-height: 15px;
  }
  .home .grey-section .black-box {
    max-width: 680px;
    margin: 50px auto 0;
    font-size: 52px;
    line-height: 48px;
  }
  .home .grey-section .black-box span {
    display: block;
    text-align: center;
  }
  .home .grey-section .black-box .text-wrapper {
    max-width: 420px;
    margin: 0 auto;
  }
  .home .grey-section .black-box .preorder.small {
    font-size: 26px;
    line-height: 30px;
    font-family: "gotham thin";
    font-weight: lighter;
    color: #fff300;
  }
  .home .grey-section .black-box .preorder.small.white {
    color: #fff;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  .home .grey-section .black-box .preorder.small.white strong {
    font-weight: bold;
    font-family: "gotham", sans-serif;
  }
  .home .grey-section .black-box .one-of {
    font-size: 56px;
    line-height: 56px;
  }
  .home .grey-section .black-box .one-of.small {
    font-weight: normal;
  }
  .home .grey-section .black-box .thousand-six {
    font-size: 86px;
    line-height: 94px;
  }
  .home .grey-section .black-box .of-new {
    font-size: 32px;
    line-height: 32px;
    margin-left: 58px;
  }

  #footer {
    background-size: cover;
    text-align: center;
  }

  .social-links {
    width: 190px;
    margin: 20px auto 0;
    overflow: hidden;
  }

  .footer-logo {
    margin: 0 auto;
    max-width: 102px;
  }

  .want-mine {
    padding: 80px 40px 110px;
    text-align: center;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
  }
  .want-mine:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-bottom: 50px solid #252525;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
  }
}
@media (min-width: 600px) {
  .beer-bottle-wrap .haft-beer {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .home .section-title {
    font-size: 52px;
    line-height: 54px;
  }

  .beer-bottle-wrap .haft-beer {
    width: 90%;
  }
}
@media (max-width: 520px) {
  .home .section-title {
    font-size: 44px;
    line-height: 48px;
  }
}
@media (max-width: 480px) {
  .home .grey-section .remaining-time {
    font-size: 28px;
    line-height: 30px;
  }
  .home .grey-section .remaining-time-clock-labels {
    font-size: 10px;
  }
  .home .grey-section .black-box {
    margin-bottom: 0;
    font-size: 42px;
    line-height: 38px;
  }
  .home .grey-section .black-box span {
    display: block;
    text-align: center;
  }
  .home .grey-section .black-box .text-wrapper {
    max-width: 420px;
    margin: 0 auto;
  }
  .home .grey-section .black-box .preorder.small {
    font-size: 20px;
    line-height: 24px;
    font-family: "gotham thin";
    font-weight: lighter;
    color: #fff300;
  }
  .home .grey-section .black-box .preorder.small.white {
    color: #fff;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .home .grey-section .black-box .preorder.small.white strong {
    font-weight: bold;
    font-family: "gotham", sans-serif;
  }
  .home .grey-section .black-box .one-of {
    font-size: 46px;
    line-height: 46px;
  }
  .home .grey-section .black-box .one-of.small {
    font-weight: normal;
  }
  .home .grey-section .black-box .thousand-six {
    font-size: 76px;
    line-height: 84px;
  }
  .home .grey-section .black-box .of-new {
    font-size: 26px;
    line-height: 26px;
    margin-left: 56px;
  }
}
@media (max-width: 420px) {
  .home .section-title {
    font-size: 32px;
    line-height: 36px;
  }

  .black-section .copy-wrap {
    margin-bottom: 20px;
  }

  .home .grey-section .remaining-time {
    font-size: 22px;
    line-height: 26px;
  }
}
@media (max-width: 400px) {
  .home .grey-section .black-box {
    margin-bottom: 0;
    font-size: 32px;
    line-height: 28px;
  }
  .home .grey-section .black-box span {
    display: block;
    text-align: center;
  }
  .home .grey-section .black-box .text-wrapper {
    max-width: 420px;
    margin: 0 auto;
  }
  .home .grey-section .black-box .preorder.small {
    font-size: 15px;
    line-height: 22px;
    font-family: "gotham thin";
    font-weight: lighter;
    color: #fff300;
  }
  .home .grey-section .black-box .preorder.small.white {
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .home .grey-section .black-box .preorder.small.white strong {
    font-weight: bold;
    font-family: "gotham", sans-serif;
  }
  .home .grey-section .black-box .one-of {
    font-size: 36px;
    line-height: 36px;
  }
  .home .grey-section .black-box .one-of.small {
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
  }
  .home .grey-section .black-box .thousand-six {
    font-size: 52px;
    line-height: 60px;
  }
  .home .grey-section .black-box .of-new {
    font-size: 18px;
    line-height: 28px;
    margin-left: 40px;
  }
}
@media (min-width: 1200px) {
  .home .grey-section .black-box {
    font-size: 53px;
    line-height: 50px;
    padding: 60px 25px 84px;
  }
  .home .grey-section .black-box span {
    display: block;
    text-align: center;
  }
  .home .grey-section .black-box .preorder.small {
    font-size: 26px;
    line-height: 30px;
    font-family: "gotham thin";
    font-weight: lighter;
    color: #fff300;
  }
  .home .grey-section .black-box .preorder.small.white {
    color: #fff;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  .home .grey-section .black-box .preorder.small.white strong {
    font-weight: bold;
    font-family: "gotham", sans-serif;
  }
  .home .grey-section .black-box .one-of {
    font-size: 58px;
    line-height: 58px;
  }
  .home .grey-section .black-box .one-of.small {
    font-weight: normal;
  }
  .home .grey-section .black-box .thousand-six {
    font-size: 88px;
    line-height: 90px;
  }
  .home .grey-section .black-box .of-new {
    font-size: 33px;
    line-height: 30px;
    margin-left: 56px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .home .grey-section .black-box .registration-form .form-body, .home .grey-section .black-box .success .form-body {
    padding: 10px 20px;
  }
  .home .grey-section .black-box .registration-form.success .success.form-body {
    font-size: 36px;
  }
  .home .grey-section .black-box .registration-form .heading-text {
    font-size: 15px;
    padding-top: 20px;
  }
  .home .grey-section .black-box .preorder.small {
    font-size: 15px;
    line-height: 22px;
    font-family: "gotham thin";
    font-weight: lighter;
    color: #fff300;
  }
  .home .grey-section .black-box .preorder.small.white {
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .home .grey-section .black-box .preorder.small.white strong {
    font-weight: bold;
    font-family: "gotham", sans-serif;
  }
  .home .grey-section .black-box .one-of {
    font-size: 36px;
    line-height: 36px;
  }
  .home .grey-section .black-box .one-of.small {
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
  }
  .home .grey-section .black-box .thousand-six {
    font-size: 52px;
    line-height: 60px;
  }
  .home .grey-section .black-box .of-new {
    font-size: 18px;
    line-height: 28px;
    margin-left: 60px;
  }
}
@media (max-width: 420px) {
  .home .grey-section .black-box .registration-form .form-body, .home .grey-section .black-box .success .form-body {
    padding: 10px 20px;
  }
  .home .grey-section .black-box .registration-form .form-body .btn-submit, .home .grey-section .black-box .success .form-body .btn-submit {
    font-size: 24px;
  }
  .home .grey-section .black-box .registration-form.success .success.form-body {
    font-size: 30px;
    line-height: 32px;
  }
  .home .grey-section .black-box .registration-form .heading-text {
    padding-left: 0;
    font-size: 12px;
    padding-top: 10px;
  }
}
.registers-list {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
