body{
    background: #000;
    color: #fff;
    font-family: 'gotham', sans-serif;
}

a {
  cursor: pointer
}

.yellow-color{
    color: #fff300;
}
.black-color{
    color: #000;
}
.white-color{
    color: #fff;
}

.grey-section{
    background: #252525;
}

.black-box{
    background: #000;
    overflow: hidden;
}
.yellow-box{
    background: #fff300;
}
.white-box{
    background: #fff;
}
.clear-fix{
    clear: both;
}
.btn-black{
    background: #000;
    color:#fff300;
    &:hover{
        background: #252525;
        color:#fff300;
    }
}
.btn-rounded{
    border-radius: 20px;
}
.btn-go-to-form{
    padding: 10px 10px 8px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;

    width: 100%;
    max-width: 392px;

    &:focus {
      color: #fff300
    }
}


.btn-submit{
    padding: 10px 0 8px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
}

h2{
    font-size: 69px;
    font-weight: bold;
    line-height: 65px;
}
p{
    font-size: 14px;
}
.form-control.form-error{
    border: 1px solid #a90000;
    background: #ecbfbf !important;
}
.error-message{
    color: #a90000;
    font-weight: bold;
    line-height: 20px;
}

#container {
  overflow: hidden
}

.beer-launch .home > .container {
  width: 100%;
  padding: 0;
}

.hero-wrapper {
  .beer-launch .home & {
    padding: 0;

    .hero {
      padding: 0;

      .beer-hero {
        padding: 0;
        margin: 0;
        max-width: none;
      }
    }
  }
}

.grey-section {

  .beer-launch .home & {

    background: #cccccc url('../img/lanzamiento/bubbles-bg.jpg') 0 0 / 100% repeat;

    @media (min-width: 992px) {
      background-size: cover;
    }

    .black-box-wrapper {
      @media (min-width: 992px) {


        flex: 0 1 40%;
      }
    }

    .black-box {
      padding: 0;
      margin-bottom: 60px;

      .registration-form {
        display: block;
        opacity: 1;

        .form-heading {
          padding-bottom: 20px;

          .logo-section {
            margin-bottom: 0;
          }

          .heading-text {
            padding-top: 0;

            .white-color {
              font-size: 16px;
              line-height: 18px;
            }


            .grey-color {
              text-transform: uppercase;
              color: #b0b0b0;
              font: light 14px/16px 'gotham', 'sans-serif';
            }
          }
        }

        .form-body {
          background-color: #bebebe;

          .form-control {
            background-color: #fff
          }
        }

        .btn {
          color: #fff;
        }
      }
    }

    .video-wrapper {
      padding: 0;

      iframe {
        width: 100%
      }

      @media (min-width: 992px) {
        padding-left: 15px;
        padding-right: 15px;

        flex: 0 1 55%;
      }
    }
  }
}

.black-section {

  .beer-launch .home & {
    padding: 138px 0 24px;
    background: url('../img/lanzamiento/background-logo.png') center 20px / 162px 164px no-repeat , url('../img/lanzamiento/bg-pattern.png') 0 0 repeat;

    & .special-row {
      align-items: flex-end;
      display: flex;

      justify-content: space-between;

      margin-left: -15px;
      margin-right: -15px;
    }

    .registration-form {
      display: block;
      opacity: 1;
    }

    @media (min-width: 568px) {
      background: url('../img/lanzamiento/background-logo.png') center 30px / 243px 246px no-repeat , url('../img/lanzamiento/bg-pattern.png') 0 0 repeat;
    }

    @media (min-width: 992px) {
      padding: 10px 0;

      background: url('../img/lanzamiento/background-logo.png') 38% 30px / 263px 266px no-repeat , url('../img/lanzamiento/bg-pattern.png') 0 0 repeat;
    }

    @media (min-width: 1200px) {

      background: url('../img/lanzamiento/background-logo.png') 46% 40px / 383px 386px no-repeat , url('../img/lanzamiento/bg-pattern.png') 0 0 repeat;
    }
  }


  .beer-bottle-wrap {
    position: absolute;
    bottom: 0;

    .beer-launch .home & {
      position: static;

      padding-right: 0;
      padding-left: 2px;

      max-width: 220px;
    }
  }


  .copy-wrap {
    margin-bottom: 35px;

    .beer-launch .home & {
      margin-bottom: 24px;
      text-align: center;

      .title {
        color: #00198c;
        margin-top: 0;
        position: relative;
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;

        font: bold 18px/24px 'gotham', 'sans-serif';

        span {
          display: inline-block;

          position: relative;

          &:before {
            content: '';

            width: 32px;
            height: 14px;

            display: inline-block;

            position: absolute;

            background: url('../img/lanzamiento/text-lines-left.png') 0 0 / contain no-repeat;


            top: 3px;
            left: -32px;
          }
        }

        &:after {
          content: '';

          width: 32px;
          height: 14px;

          display: inline-block;

          position: absolute;

            background: url('../img/lanzamiento/text-lines-right.png') 0 0 / contain no-repeat;
            margin-left: 4px;
            bottom: 6px;
        }

        @media (min-width: 568px) {
          font-size: 32px;
          line-height: 36px;

          max-width: 300px;

          span {

            &:before {
              width: 48px;
              height: 30px;

              top: 4px;
              left: -52px;
            }
          }

          &:after {

            width: 48px;
            height: 30px;

            margin-left: 4px;
            bottom: 2px;
          }

        }

        @media (min-width: 992px) {
          font-size: 48px;
          line-height: 52px;

          max-width: 480px;

          span {

            &:before {
              width: 66px;
              height: 48px;

              top: 6px;
              left: -74px;
            }
          }

          &:after {

            width: 66px;
            height: 48px;

            margin-left: 8px;
            bottom: 0px;
          }
        }
      }

      p {
        font: 13px/16px 'gotham', 'sans-serif';
        color: #000;

        max-width: 220px;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 568px) {
          margin-top: 24px;
          margin-bottom: 24px;
        }

        @media (min-width: 992px) {
          font-size: 16px;
          line-height: 18px;

          max-width: none
        }
      }

      .btn {
        padding-bottom: 8px;
        padding-top: 8px;
        width: 100%;
        max-width: 260px;

        text-transform: uppercase;
        font: bold 10px/16px 'gotham', 'sans-serif';
        color: #fff;
        background: #000;
        white-space: pre-wrap;

        &:hover {
          opacity: .7
        }

        @media (min-width: 992px) {
          font-size: 14px;
          line-height: 40px;
          max-width: 360px;

          padding-bottom: 0;
          padding-top: 0;
        }
      }
    }

  }
}

.hero-btn {
  position: absolute;
  left: 50%;
  margin-left: -144px;
  bottom: 230px;
  z-index:20;

  @media (max-width: 700px) {
    bottom: 200px;
  }

  @media (max-width: 570px) {
    bottom: 160px;
  }

  @media (max-width: 480px) {
    bottom: 120px;
  }

  @media (max-width: 400px) {
    bottom: 90px;
  }

  @media (max-width: 360px) {
    bottom: 70px;
  }
}


.home .grey-section .remaining-time-clock{
    font-size: 60px;

    line-height: 1;
    margin-top: 6px;
    width: 100%;

    @media (max-width: 1199px) {
      font-size: 50px
    }

    @media (max-width: 991px) {
      font-size: 60px;
      max-width: 480px;
    }

    @media (max-width: 500px) {
      font-size: 50px;
      max-width: 88%
    }

    @media (max-width: 420px) {
      font-size: 40px;
      max-width: 92%
    }

    @media (max-width: 360px) {
      font-size: 30px;
    }

    .numbers-wrap {
      min-width: 19%;
      max-width: 19%;

      display: inline-block;

      @media (max-width: 991px) {
        min-width: 22%;
        max-width: 22%;
      }

      .remaining-time-clock-labels, .countdown-number {
        display: block;
        width: 100%;
      }

      .remaining-time-clock-labels {
        font-size: 14px;
        font-weight: bold;

        @media (max-width: 420px) {
          font-size: 10px;

        }

      }


    }
}




@media (min-width: 768px) {
  .container {
      width: 100%;
  }

}

@media (min-width: 992px) {
  .container {
      width: 970px;
  }

  .black-section {
    .beer-bottle-wrap {
      position: static;
      bottom: 0;
    }
  }

  .countdown-wrapper {
    display: flex;
    justify-content: space-between;

    .beer-launch & {

      align-items: center;
    }
  }
}

@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }

  .countdown-wrapper .black-box-wrapper {
    width: 512px;
  }

}
