#footer{
    background: url(../img/footer-bg.jpg);
    font-size: 12px;
    padding: 44px 0 ;

   &  > .container > .row {
      display: flex;

      justify-content: space-between;

      flex-direction: column;

      @media (min-width: 992px) {
        flex-direction: row;
      }
    }


    a{
        color:#fff;
        display: inline-block;
        line-height: 18px;

        &:hover,&.active{
            color: #fff300;
        }
    }

    .footer-centered, .footer-social .social-label {
        padding-top: 41px;
    }



    .social-links{
      @media (min-width: 992px) {
        padding-top: 32px;
      }
        img{
            float: left;
            padding: 0 5%;
        }
    }
}
.policy{
    background: #ffffff;
    padding: 20px 0;

    font-weight: bold;

    @media (max-width: 991px) {
      padding: 35px 0;
    }
}

.footer-logo {
  width: 99px;

  .beer-launch & {
    width: 225px;
    max-width: none
  }
}



.footer-centered, .footer-social .social-label {
  .beer-launch #footer & {
    width: auto;
    padding-top: 28px
  }
}

.footer-social .social-links {
  .beer-launch #footer & {
    width: auto;
    padding-top: 20px
  }
}

.footer-social {
  width: auto;
}
