#header{
    padding-top: 20px;
    z-index: 9999;
    position: relative;

    .beer-launch & {
      padding: 20px 0;
      background-color: #000;
    }

}

.main-logo {
  width: 108px;

  .beer-launch & {
    width: 225px
  }
}

.nav {
  justify-content: flex-end;
  display: flex;

  padding: 33px 0;

  a {
    display: inline-block;

    color: #fff;
    text-transform: uppercase;
    font: bold 10px/14px 'gotham', sans-serif;
    padding-right: 40px;

    &:first-child {
      margin-right: 45px;
    }
  }
}
