.page{

}
.home{
    .beer-hero{
        position: relative;
        padding-bottom: 60px;

        .beer{
            position: relative;
            z-index: 9;

            top: -13px;
        }
        .beer-water{
            position: absolute;
            z-index: 8;
            top: -80px;

            left: 50%;
            margin-left: -100%;
            max-width: 180%;
        }

        .beer-lines{
            position: absolute;
            top: 0;
            z-index:7;

            left: 50%;
            margin-left: -100%;
            max-width: 180%;
        }
        .imperial{
            position: absolute;
            top: 0;
            z-index:10;
            top: 31.5%;

        }

        @media (min-width: 700px) {
          .beer{
              // left: 9%;

          }

          .imperial{

              // left: 11.2%;
          }
        }
    }

    .beer-remainig-level{
        position: relative;

    }

    .hero-ramainig {
      margin: 20px auto 0;
      width: 136px;

      & > .col-sm-12, & > .col-xs-12 {
        padding: 0;
        margin: 0;
        display: flex;
        float: none

      }


    }
    .remaining-beers{
        margin-right:10px;
        img{
            z-index: 5;
            position: relative;
        }

        .beer-remainig-level {
            width: 20px;
        }
    }
    .beer-remainig-level-black{
        background: #000;
        position: absolute;
        width: 100%;
        height: 0;
        bottom: 0;
        z-index: 4;

    }
    .remaining-beers-labels{
        color: #000;
        font-size:12px;
        padding-top: 5px;
        line-height: 14px;
        letter-spacing: 3.4px;
        text-align: left;

        float: left
    }
    .remaining-amount{
        font-size: 35px;
        line-height: 35px;
    }
    .grey-section{
        position: relative;
        z-index: 20;
        .black-box{
            margin-top: 35px;
            padding: 40px 25px;
            font-size: 53px;
            line-height: 50px;
            margin-bottom: 35px;




            &.show-form {
              padding: 0;

              .registration-form {
                // opacity: 1;
                display: block;
                // transition: all ease 1s;
              }
              //
              .promo {
                // opacity: 0;
                display: none;
                // transition: all ease 1s;
              }
            }

            .promo, .registration-form {
              transition: all ease 1s;
            }





            .registration-form,.success{
                padding: 20px 0;
                .form-heading{
                    font-size: 18px;
                    line-height: 18px;
                    overflow: hidden;
                }
                .heading-text{
                    padding-top: 30px;
                }
                .form-body{
                    background: #ffffff;
                    color: #000;
                    font-size: 13px;
                    padding: 10px 50px;
                    &.success{
                        font-size: 43px;
                        padding: 50px 20px;
                        font-weight: bold;
                        text-align: center;
                        .successful{
                            background: #000;
                            width: 100%;
                            padding: 20px 0 ;
                            margin-top: 20px
                        }

                    }
                }

                .control-label{
                    padding: 0;
                    line-height: 23px;
                    text-align: left;
                }
                .form-control{
                    background: #dadada;
                }
                .form-group{
                    margin-bottom: 10px;
                }
            }

            .registration-form {
              opacity: 0;
              display: none;
              padding-bottom: 0;
              overflow: hidden;

              &.success {
                opacity: 1;
                display: block
              }
            }

            &.rules{
                margin-top: 35px;
                margin-bottom: 35px;
                padding: 20px 25px;
                font-size: 14px;
                line-height: initial;
                overflow: hidden;
                .form-heading{
                    overflow: hidden;
                    padding-bottom: 15px;
                }
                .heading-text{
                    font-size: 20px;
                    padding-top: 20px;
                }
                .rules-body{
                    background: #fff;
                    color: #000;
                    padding: 20px
                }
            }
        }
        .preorder{

        }
        .logo-section{
            display: block;
            max-width: 102px;
            margin: 0 auto 35px;
        }
        .one-of{
            font-size: 58px;
        }
        .thousand-six{
            font-size: 81px;
            line-height: 85px;
            font-weight: bold;
        }
        .of-new {
            font-size: 33px;
            line-height: 33px;
            margin-left: 50px;
        }
        .imperial-label{
            margin-top: -20px;
        }
        .left-flex-container{
            text-align: center;
            display: flex;
            flex-flow: column nowrap;
            flex: 0 1 50%;
            > div{
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .i-want{
            font-size: 47px;
            display: block;

            @media (max-width: 480px) {
              font-size: 38px;
              line-height: 40px;
            }
        }
        .remaining-time{
            font-size: 30px;
        }
        .white-box{
            position: relative;
            &:after{
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-top: 40px solid transparent;
                border-left: 30px solid #252525;
                border-bottom: 40px solid transparent;
                top: -40px;
                left: 0;
            }
        }
    }
    .black-section{
        background: #000 url(../img/black-section-bg.png) -15% 56% no-repeat;
        background-size: 831px 756px;
        padding-top: 48px;

        position:relative;

        .section-title{
            padding: 88px 0 0;
            margin-top: 0;

            @media (min-width: 992px) {
              padding: 60px 0 0;
            }
        }

        @media (min-width: 992px) {
          .copy-wrap {
            float: right
          }
        }

        @media (min-width: 1200px) {
          background-position: 10% 56%;
        }

        @media (min-width: 1440px) {
          background-position: 22% 56%;
        }

        @media (max-width: 991px) {
          background: #000 url(../img/black-section-mobile-bg.png) 100% -120px no-repeat;
          background-size: 428px 478px;

          padding-top: 32px;
        }

        @media (max-width: 480px) {
          background-size: 285px 318px;
          background-position: 110% -90px;

          .section-title{
              padding: 48px 0 0;
              margin-top: 0
          }
        }

        @media (max-width: 400px) {

          background-position: 180% -90px;
        }
    }


}

.rules{
    #header {
        padding: 20px 0 ;
    }
}



.home {
    .hero-wrapper {
        padding: 0 15px;
    }

    .beer-hero {
      max-width: 585px;
      margin: 0 auto;
    }

    .hero {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      width: 100%
    }

    .grey-section .black-box .heading-text span {
      text-align: left;
    }

}

.ageGate{
  background-color: #FFF;
  #container{
    .container{
      min-height: 93vh;

      @media (max-width: 480px) {
        text-align: center;
      }

      h2{
        font-size: 52px;
        margin-bottom: 0;
        text-align: left;
        color: #00198c;

        @media (max-width: 480px) {
          font-size: 46px;
        }
      }

      img{
        width: 220px;
        margin: 0 auto;

        @media (max-width: 480px) {
          margin: 0px auto;
          margin-top: 20px;
          width: 120px;
        }
      }

      h3{
        margin-top: 0;
        text-align: left;
        color: #00198c;
      }

      .row-content{
        select.form-control{
          background: #00198c;
          border-color: #00198c;
          color: #FFF;
          font-weight: bold;
          margin-bottom: 20px;

          @media (max-width: 480px) {
            margin-bottom: 20px;
          }
        }

        .btn.btn-age{
          color: #FFF;
          background: #00198c;
          font-weight: bold;
          border-radius: 50px;
          padding: 10px 50px;
          margin-top: 32px;
          font-size: 18px;
          line-height: 14px;

          @media (max-width: 400px) {
            margin-top: 0;
            margin-bottom: 30px;
          }
        }
        @media (min-width: 768px) {
          display: flex;
          align-items: center;
          min-height: 93vh;
        }
      }
    }
  }
}
