

@media (min-width: 992px){
    .home{
        .hero-wrapper{
            display: flex;
            position: relative;

        }

        .hero-ramainig{

        }

        .remaining-beers {
          margin-right: 10px;

          .beer-remainig-level {
            width: 20px;

          }

        }

        .grey-section{
            .container{
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
            }
        }
    }

    .home .grey-section .left-flex-container>div {
      display: flex !important;
    }

    .home .beer-bottle-wrap .haft-beer {
        width: 136px;

        @media (min-width: 1200px) {
          margin-left: 40px
        }
    }

    .home .grey-section .row {
      width: 970px;

      @media (min-width: 1200px) {
        width: 1170px
      }
    }

    .home .grey-section .black-box {


      font-size: 40px;
      line-height: 36px;

      span {
        display: block;

        text-align: center
      }

      .text-wrapper {
        max-width: 420px;
        margin: 0 auto;
      }

      .one-of {
        font-size: 44px;
        line-height: 44px;
      }

      .thousand-six {
        font-size: 66px;
        line-height: 68px;
      }

      .of-new {
        font-size: 24px;
        line-height: 24px;

        margin-left: 46px
      }
    }
}
@media (max-width: 991px){


    .hero-ramainig{
        // background: #181818;
        // overflow: hidden;
        // padding: 45px 0;
        // text-align: center;
        //
        // & > div {
        //   display: inline-block;
        //   text-align: left;
        //   float: none;
        //   margin: 0;
        //   width: auto;
        //
        // }
    }
    .home {
        .beer-hero {
          max-width: 585px;
          margin: 0 auto;
        }





        .white-box{
            margin-top: 80px;
            padding: 50px 0 80px;
            margin-left: -15px;
            margin-right: -15px;
            &:after{
                content: none !important;
            }
        }
        .section-title{
            font-size: 60px;
            line-height: 62px;
        }
        .haft-beer{

        }
        .black-section{
            overflow: hidden;
        }
        .grey-section {
            .promo .logo-section{
                margin-bottom: 30px;
                padding: 0;
            }
            .black-box .registration-form  .form-heading{
                font-size: 15px;line-height: 15px;
            }

            .black-box {
              max-width: 680px;
              margin: 50px auto 0;

              font-size: 52px;
              line-height: 48px;



              span {
                display: block;

                text-align: center
              }

              .text-wrapper {
                max-width: 420px;
                margin: 0 auto;
              }

              .preorder.small {
                font-size: 26px;
                line-height: 30px;

                font-family: 'gotham thin';
                font-weight: lighter;

                color: #fff300;

                &.white {
                  color: #fff;

                  font-size: 32px;
                  line-height: 32px;
                  margin-bottom: 10px;

                  strong {
                    font-weight: bold;
                    font-family: 'gotham', sans-serif;
                  }
                }

              }

              .one-of {
                font-size: 56px;
                line-height: 56px;


                &.small {
                    font-weight: normal;
                }
              }

              .thousand-six {
                font-size: 86px;
                line-height: 94px;
              }

              .of-new {
                font-size: 32px;
                line-height: 32px;

                margin-left: 58px
              }
            }
        }
    }
    #footer{
        background-size: cover;
        text-align: center;
    }
    .social-links{
        width: 190px;
        margin: 20px auto 0;
        overflow: hidden;
    }
    .footer-logo{
        margin: 0 auto;
        max-width: 102px;
    }
    .want-mine{
        padding: 80px 40px 110px;
        text-align: center;
        position:relative;
        margin-left: -15px;
        margin-right: -15px;

        &:after{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-left: 55px solid transparent;
            border-right: 55px solid transparent;
            border-bottom: 50px solid #252525;
            left: 50%;

            margin-left: -50px;
            bottom: 0;

        }
    }
}

@media (min-width: 600px) {
  .beer-bottle-wrap .haft-beer {
    width: 70%
  }
}

@media (max-width: 600px){


  .home .section-title {
      font-size: 52px;
      line-height: 54px;
  }


  .beer-bottle-wrap .haft-beer {
    width: 90%
  }

}

@media (max-width: 520px){

  .home .section-title {
      font-size: 44px;
      line-height: 48px;
  }

}

@media (max-width: 480px){

  .home .grey-section {
    .remaining-time {
      font-size: 28px;
      line-height: 30px
    }

    .remaining-time-clock-labels {
      font-size: 10px;
    }

    .black-box {
      margin-bottom: 0;

      font-size: 42px;
      line-height: 38px;

      span {
        display: block;

        text-align: center
      }

      .text-wrapper {
        max-width: 420px;
        margin: 0 auto;
      }

      .preorder.small {
        font-size: 20px;
        line-height: 24px;

        font-family: 'gotham thin';
        font-weight: lighter;

        color: #fff300;

        &.white {
          color: #fff;

          font-size: 26px;
          line-height: 30px;
          margin-bottom: 10px;

          strong {
            font-weight: bold;
            font-family: 'gotham', sans-serif;
          }
        }

      }


      .one-of {
        font-size: 46px;
        line-height: 46px;

        &.small {
          font-weight: normal;
        }
      }

      .thousand-six {
        font-size: 76px;
        line-height: 84px;
      }

      .of-new {
        font-size: 26px;
        line-height: 26px;

        margin-left: 56px
      }
    }

  }
}

@media (max-width: 420px){

  .home .section-title {
      font-size: 32px;
      line-height: 36px;
  }

  .black-section .copy-wrap {
    margin-bottom: 20px
  }

  .home .grey-section {
    .remaining-time {
      font-size: 22px;
      line-height: 26px
    }
  }

}

@media (max-width: 400px){

  .home .grey-section {

    .black-box {
      margin-bottom: 0;

      font-size: 32px;
      line-height: 28px;

      span {
        display: block;

        text-align: center
      }

      .text-wrapper {
        max-width: 420px;
        margin: 0 auto;
      }

      .preorder.small {
        font-size: 15px;
        line-height: 22px;

        font-family: 'gotham thin';
        font-weight: lighter;

        color: #fff300;

        &.white {
          color: #fff;

          font-size: 20px;
          line-height: 28px;
          margin-bottom: 10px;

          strong {
            font-weight: bold;
            font-family: 'gotham', sans-serif;
          }
        }

      }

      .one-of {
        font-size: 36px;
        line-height: 36px;

        &.small {
          font-weight: normal;

          font-size: 32px;
          line-height: 32px;
        }
      }

      .thousand-six {
        font-size: 52px;
        line-height: 60px;
      }

      .of-new {
        font-size: 18px;
        line-height: 28px;

        margin-left: 40px
      }
    }

  }
}

@media (min-width: 1200px) {
  .home{

  }

  .home .grey-section .black-box {

    font-size: 53px;
    line-height: 50px;

    padding: 60px 25px 84px;

    span {
      display: block;

      text-align: center
    }

    .text-wrapper {
      // max-width: 420px;
      // margin: 0 auto;
    }

    .preorder.small {
      font-size: 26px;
      line-height: 30px;

      font-family: 'gotham thin';
      font-weight: lighter;

      color: #fff300;

      &.white {
        color: #fff;

        font-size: 32px;
        line-height: 32px;
        margin-bottom: 10px;

        strong {
          font-weight: bold;
          font-family: 'gotham', sans-serif;
        }
      }

    }

    .one-of {
      font-size: 58px;
      line-height: 58px;

      &.small {
          font-weight: normal;
      }

    }

    .thousand-six {
      font-size: 88px;
      line-height: 90px;
    }

    .of-new {
      font-size: 33px;
      line-height: 30px;

      margin-left: 56px
    }
  }
}


@media (min-width: 1440px) {
  .home{

  }

}


@media (max-width: 1199px) and (min-width: 992px) {
  .home .grey-section .black-box {
    .registration-form .form-body, .success .form-body {
      padding: 10px 20px;


    }

    .registration-form.success .success.form-body {
      font-size: 36px


    }

    .registration-form .heading-text {
      font-size: 15px;
      padding-top: 20px;
    }

    .preorder.small {
      font-size: 15px;
      line-height: 22px;

      font-family: 'gotham thin';
      font-weight: lighter;

      color: #fff300;

      &.white {
        color: #fff;

        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px;

        strong {
          font-weight: bold;
          font-family: 'gotham', sans-serif;
        }
      }

    }

    .one-of {
      font-size: 36px;
      line-height: 36px;

      &.small {
        font-weight: normal;

        font-size: 32px;
        line-height: 32px;
      }
    }

    .thousand-six {
      font-size: 52px;
      line-height: 60px;
    }

    .of-new {
      font-size: 18px;
      line-height: 28px;

      margin-left: 60px
    }
  }
}

@media (max-width: 420px) {
  .home .grey-section .black-box {
    .registration-form .form-body, .success .form-body {
      padding: 10px 20px;

      .btn-submit {
        font-size: 24px;
      }

    }

    .registration-form.success .success.form-body {
      font-size: 30px;
      line-height: 32px;


    }


    .registration-form .heading-text {
      padding-left: 0;
      font-size: 12px;
      padding-top: 10px;
    }
  }

}
