/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 11-ene-2018, 0:10:47
    Author     : marcochacon
*/
@font-face {
    font-family: gotham;
    font-weight: normal;
    src: url(../fonts/Gotham-Book.otf);
}

@font-face {
    font-family: gotham;
    font-weight: bold;
    src: url(../fonts/Gotham-Black.otf);
}

@font-face {
    font-family: 'gotham thin';
    font-weight: lighter;
    src: url(../fonts/Gotham-Thin.ttf);
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transitionDelay($transition...) {
    -moz-transition-delay:    $transition;
    -o-transition-delay:      $transition;
    -webkit-transition-delay: $transition;
    transition-delay:         $transition;
}

@import "_base","_header","_footer","_form","_home","_pages","_responsiveFixes","_admin";
